@font-face {
  font-family: "iconfont"; /* Project id 2610034 */
  src: url('iconfont.woff2?t=1623646533758') format('woff2'),
       url('iconfont.woff?t=1623646533758') format('woff'),
       url('iconfont.ttf?t=1623646533758') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun1:before {
  content: "\e600";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

